* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
  }

  body {
    padding: 0;
    margin: 0;
    background-color: beige;
  }

  .navbar {
    position: fixed;
    padding: 20px;
    background-color: black;
    text-decoration: none;
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
    text-decoration: none;
    color: beige;
  }

  nav img {
    display: block;
    margin-bottom: 35px;
  }

  .navbar-items {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    /* font-size: large; */
    margin: 0;
    padding: 0;
    margin-top: 75%;
  }

  .abt-me {
    margin-right: 56%;
    font-size: large;
  }
  
  .portfolio {
      margin-right: 50%;
      margin-top: 25%;
      font-size: large;
  }
  .contact {
    margin-right: 58%;
    margin-top: 25%;
    font-size: large;
  }

  nav li:hover {
    border-bottom: 5px solid beige;
    cursor: pointer;
  }

  .header-two {
    margin-left: 235px;
    display: block;
    text-align: center;
    background-color: #36454F;
    padding: 30px;
    color: beige;
    font-size: xx-large;
    padding-left: 125px;
  }

  main {
    display: block;
    /* margin-left: 275px;
    padding: 15px;   */
    width: 100%;
    margin: 0 auto;
    padding-left: 270px;
  }

  main ul {
    list-style-type: none;
  }
  
  nav a { 
    text-decoration: none; 
    color: beige;
  }

  main a {
    text-decoration: none;
    color: black;
  }

  section {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }

  .biography {
    display: flex;
    padding: 0;
    margin: 0;
    text-align: start;
    font-size: large;
  }

  #bio {
    text-align: center;
    padding-top: 10px;
    background-color: #353935;
    color: beige;
    text-transform: uppercase;
  }

  #projects {
    text-align: center;
    background-color: #353935;
    color: beige;
    text-transform: uppercase;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 5%;
  }

  .card {
    displaY: flex;
    flex-wrap: wrap;
    /* float: left; */
    width: 30%;
    text-align: center;
  } 

  .card-img-top {
    display: block;
    width: 100%;
  }

  /* .main-card {
    line-height: 2.5;
    font-size: 1.4em;
    padding: 15px;
    background: #28282B;
    color: beige;
  } */

  .card-body {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #28282B;
    color: beige;
  }

  .contacts {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 10%;
    text-align: start;
    text-transform: uppercase;
  }

  .contacts a:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
  }

  #call-me {
    display: inline-block;
    text-align: center;
    padding: 0;
    background-color: #353935;
    color: beige;
  }

  /* footer {
    display: flex;
    padding: 0;
    margin-left: 0;
  }

  .footer a {
    text-decoration: none;
    color: black;
  }

  .footer-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 2%;
    font-size: large;
  } */

  .class {
    margin-left: 10%;
  }

  .email {
    margin-left: 25%;
  }

  .github {
    margin-left: 25%;
  }

  .linked {
    margin-left: 25%;
  }

  /* .footer a:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
  } */

 